/* colors and fonts */
:root {
--btn-header-bg-active-color: #666CA3;
--title-color: #13183F;
--text-color: #83869A;
--hyperlink-color: #F74780;
--hyperlink-active-color: #FFA7C3;
--main-gradient: linear-gradient(#FF6F48, #F02AA6);
--footer-gradient: linear-gradient(#4851FF, #F02AA6);
--bg-gradient: linear-gradient(#FFFFFF, #F0F1FF);
--card-shadow: 0 25px 50px rgba(6, 22, 141, 0.05);
}

/* resets to defaults */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 1rem;
}

/* small screen design */
/* header and footer design */
header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 89px;
}

#btn-header, #btn-footer {
    padding: 0.625rem 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border-radius: 28px;
    border: 0;
    transition: all 1000ms ease-in-out;
}

#btn-header {
    background-color: var(--title-color);
}

#btn-header:hover {
    background-color: var(--btn-header-bg-active-color);
    cursor: pointer;
}
footer {
    background-color: var(--title-color);
    padding: 2.25rem 1rem;
}

#btn-footer {
    background-image: var(--footer-gradient);
    cursor: pointer;
    position: relative;
    z-index: 1;
}

#btn-footer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 28px;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    z-index: -1;
}

#btn-footer:hover::before {
    opacity: 1;
}

/* main section design */
main {
    padding: 1.35rem 1rem;
}

main h1{
    font-weight: 800;
    font-size: 2.5rem;
}

main p {
    color: var(--text-color);
    padding-top: 1.45rem;
    line-height: 2rem;
}

main #btn-main {
    background-image: var(--main-gradient);
    font-size: 1rem;
    margin-top: 1.3rem;
    padding: 1rem 2.355rem;
    border-radius: 31px;
    color: white;
    font-weight: 800;
    border: 0;
    position: relative;
    z-index: 1;
}

main #btn-main::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 31px;
    opacity: 0;
    transition: all 1000ms ease-in-out;
    z-index: -1;
}

main #btn-main:hover::before {
    opacity: 1;
}

main #img-main {
    background-image: url(./docs/assets/image-hero-mobile@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 92%;
}

/* grid section design */
#grid-cards {
    background-image: var(--bg-gradient);
    padding: 0rem 1rem 2.5rem 1rem;
}

.cards {
    margin-bottom: 2.5rem;
    background-color: white;
    border-radius: 10px;
    padding: 1.5rem;
    position: relative;
}

#grid-cards #check-out-card {
    background-image: var(--main-gradient);
    padding: 2rem;
}

#check-out-card h2 {
    color: white;
    font-weight: 800;
}

#grid-cards #icons {
    position: absolute;
    top: -25px;
}

.cards h3 {
    padding: 2.25rem 0 0.3rem 0;
    font-weight: 800;
}

.cards p {
    color: var(--text-color);
    line-height: 3.5rem;
}

.cards a {
    text-decoration: none;
    color: var(--hyperlink-color);
    font-weight: 700;
    font-size: 1.1rem;
    padding: 2rem 0;
    line-height: 2.6rem;
}

.cards a:hover {
    color: var(--hyperlink-active-color);
}

/* Tablet Design */
@media (min-width: 576px) {
    
    header {
        padding: 1.5rem 2.5rem 0rem 2.5rem;
    }

    footer {
        padding: 2.25rem 2.5rem;
    }

    main {
        padding: 6.2rem 0rem 11rem 2.5rem;
        position: relative;
        overflow: hidden;
    }

    main #img-main {
        background-image: url(./docs/assets/image-hero-tablet@2x.png);
        width: 640px;
        height: 640px;
        position: absolute;
        right: -270px;
        top: -80px;
        z-index: -1;
    }

    /* grid section */
    #grid-cards {
        padding: 0rem 2.5rem 2.2rem 2.5rem;
        display: grid;
        column-gap: 0.6rem;
        grid-template-columns: 1fr 1fr;
    }

    .cards {
        margin-bottom: 3.5rem;
        padding: 1.8rem;
    }

    #grid-cards h3 {
        padding: 1.8rem 0 0.3rem 0;
        font-size: 1.2rem;
    }

    #check-out-card h2 {
        padding: 1.8rem 0 0.3rem 0;
    }

    #animation-card {
        margin-top: 0;
    }
}

/* Desktop design */
@media (min-width: 992px) {

    /* header and footer customization */
    header {
        padding: 1.5rem 10.25rem 0rem 10.25rem;
    }

    footer {
        padding: 2rem 10.25rem 2rem 10.25rem;
    }


    #btn-header, #btn-footer {
        font-size: 1.15rem;
        padding: 0.85rem 2.05rem;
    }
    /* updating the logo size */
    .logo {
        width: 114px;
    }

    /* main section design */
    main {
        padding: 11rem 0rem 15rem 10.25rem;
    }

    main h1 {
        font-size: 3.5rem;
    }

    main p {
        font-size: 1.15rem;
        line-height: 2.7rem;
        padding-bottom: 0.8rem;
    }

    main #btn-main {
        font-weight: 900;
        font-size: 1.1rem;
        padding: 0.8rem 2rem;
    }

    main #img-main {
        background-image: url(./docs/assets/image-hero-desktop@2x.png);
        position: absolute;
        width: 1000px;
        height: 1100px;
        top: -150px;
        right: -360px;
    }

    /* grid section */
    #grid-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2.15rem;
        padding: 0rem 10.25rem 5rem 10.25rem;
    }

    .cards p{
        line-height: 1.7rem;
        font-size: 1.2rem;
        padding: 1.8rem 0rem;
    }

    #grid-cards h3 {
        font-size: 1.5rem;
    }

    #check-out-card h2 {
        font-size: 2rem;
    }
}